/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.left-logo  {
  color: white;
  padding-left: 15px;
  font-weight: bold;
}

.main-message {
  color: white;
  padding-bottom: 20px;
  text-align: center;
}

.hero-background  {
  background-image: url(http://placehold.it/2000x800);
  background-repeat: no-repeat;
  background-position: center top;
  height: 768px;
  width: 100%;
}

.get-button  {
  margin: auto;
}

.benefits {
  color: gray;
  padding-left: 15px;
}

.title-benefits {
  font-weight: bold;
  padding-left: 15px;
}
